<div class="page-container d-flex flex-column flex-grow-1">
    <div class="d-flex">
        <h1 class="m-0 mb-4 d-none d-lg-block">Productos</h1>
    </div>
    
        <div *ngIf="loading || (productResponse && productResponse.length > 0)" class="table-card py-4">
            <div class="table-container px-4">
                <table class="w-100 table">
                    <thead>
                        <tr>
                            <th class="text-start">
                                <app-table-header-sort matRipple prop="created">Id</app-table-header-sort>
                            </th>
                            <th class="text-start">
                                <app-table-header-sort matRipple prop="type">Titulo</app-table-header-sort>
                            </th>
                            <th class="text-start">
                                <app-table-header-sort matRipple prop="ad">Inventario</app-table-header-sort>
                            </th>
                            <th class="text-start">
                                <app-table-header-sort matRipple prop="name">Precio</app-table-header-sort>
                            </th>
                            <th class="text-start">
                                <app-table-header-sort matRipple prop="email">Precio a comparar</app-table-header-sort>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="productResponse">
                            <tr *ngFor="let product of productResponse">
                                <td>{{product.id}}</td>
                                <td>{{product.title}}</td>
                                <td>{{product.stock}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.comparePrice}}</td>
                                <td>
                                    <a routerLink="./{{product.id}}" matRipple class="yp-btn"
                                        queryParamsHandling="preserve">editar</a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <app-table-pagination *ngIf="productResponse && productResponse.length > 0"
                class="d-flex flex-column flex-lg-row align-items-center justify-content-end w-100 py-2 gap-2 px-4"
                [page]="page" [total]="count"
                [pageSize]="limit"></app-table-pagination>
        </div>

        <div *ngIf="!loading && productResponse && productResponse.length === 0"
            class="d-flex w-100 py-7 px-4 align-items-center justify-content-center flex-column">
            <ng-container *ngIf="!hasFilters">
                <h1 class="empty-products">No se han encontrado resultados.</h1>
            </ng-container>
            <ng-container *ngIf="hasFilters">
                <h1 class="empty-products">No se han encontrado resultados, intenta con otros filtros.</h1>
                <a class="yp-btn yp-btn-primary" [routerLink]="[]">Quitar filtros</a>
            </ng-container>
        </div>
    <div *ngIf="error !== 0" class="d-flex w-100 py-7 px-4 align-items-center justify-content-center flex-column">
        <h1 class="empty-leads">Ha ocurrido un error al procesar la solicitud, por favor intenta nuevamente.
        </h1>
    </div>
</div>