.page-container {
    position: relative;
    min-width: 0;
}

.table-card {
    position: relative;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 0.375rem 0.5rem -0.375rem rgba(#18274b, 0.2), 0 0.5rem 1rem -0.375rem rgba(#18274b, 0.3);

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, 0.4);
    }
}

.table-container {
    overflow-x: auto;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;

    .table {
        min-height: 5rem;
        overflow-y: auto;
        box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgb(255, 13, 88);

        .ad-link {
            opacity: 0;
        }

        .yp-btn {
            background-color: #ececf4;
        }

        tbody {
            tr {
                height: 2rem;

                &:hover {
                    background-color: #9596c1;

                    .ad-link {
                        opacity: 1;
                    }

                    .yp-btn {
                        background-color: rgba(#9596c1, 0.5);
                    }
                }

                td {
                    max-width: 23rem;
                    /* .text-truncate */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.empty-products {
    font-size: 1.5rem;
    font-weight: 400;

    .yp-link {
        font-size: 1.5rem;
    }
}

:host ::ng-deep {
    app-lead-index {
        position: fixed;
        z-index: #{500 + 1001};
    }
}
