
:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.yp-btn-icon[disabled] {
    opacity: 0.5;

    &:hover {
        background-color: transparent;
        cursor: default;
    }
}

.yp-btn-icon {
    text-decoration: none;
    color: #ff024e;

    &.active {
        background-color: #ffffff;
    }
}

.menu-item {
    &:hover {
        background-color: #9596c1;
    }
}
