<div class="d-flex gap-2 align-items-center">
    <button class="yp-btn" matRipple [matMenuTriggerFor]="menu">
        Resultados por página&nbsp;<strong>{{pageSize}}</strong>
    </button>

    <mat-menu #menu="matMenu">
        <a [routerLink]="[]" [queryParams]="pageSizeQueryParams(item)" queryParamsHandling="merge"
            *ngFor="let item of pageSizes" mat-menu-item class="menu-item">Mostrar {{item}}</a>
    </mat-menu>

    <p class="m-0">Página <strong>{{page | number : '1.0-0'}}</strong> de
        <strong>{{totalPages | number : '1.0-0'}}</strong>
    </p>
</div>
<div class="d-flex gap-2">
    <ng-container *ngIf="page === 1">
        <button class="yp-btn-icon" disabled title="Primera página">
           <mat-icon>chevron_left</mat-icon>
        </button>
        <button class="yp-btn-icon" disabled title="Página anterior">
            <mat-icon>chevron_left</mat-icon>
        </button>
    </ng-container>

    <ng-container *ngIf="page > 1">
        <a [routerLink]="[]" matRipple [queryParams]="getQueryParams(1)" queryParamsHandling="merge" class="yp-btn-icon"
            title="Primera página">
           <mat-icon>chevron_left</mat-icon>
        </a>
        <a [routerLink]="[]" matRipple [queryParams]="getQueryParams(page - 1)" queryParamsHandling="merge"
            class="yp-btn-icon" title="Página anterior">
            <mat-icon>chevron_left</mat-icon>
        </a>
    </ng-container>

    <a *ngFor="let p of pages" [routerLink]="[]" [queryParams]="getQueryParams(p)" queryParamsHandling="merge"
        class="yp-btn-icon" matRipple [ngClass]="{'active': p === page}" title="Ir a página {{p}}">
        {{p | number : ''}}
    </a>

    <ng-container *ngIf="page < totalPages">
        <a [routerLink]="[]" matRipple [queryParams]="getQueryParams(page + 1)" queryParamsHandling="merge"
            class="yp-btn-icon" title="Página siguiente">
            <mat-icon>chevron_right</mat-icon>
        </a>
        <a [routerLink]="[]" matRipple [queryParams]="getQueryParams(totalPages)" queryParamsHandling="merge"
            class="yp-btn-icon" title="Última página">
            <mat-icon>chevron_right</mat-icon>
        </a>
    </ng-container>

    <ng-container *ngIf="page >= totalPages">
        <button class="yp-btn-icon" disabled title="Página siguiente">
           <mat-icon>chevron_right</mat-icon>
        </button>
        <button class="yp-btn-icon" disabled title="Última página">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </ng-container>
</div>
