
.title {
    font-size: 1.5rem;
    font-weight: 400;
}

.yp-btn-icon,
.yp-btn {
    cursor: pointer;
}

.label-contact {
    min-width: 8rem;
}

.label-lead {
    min-width: 7rem;
}

.label-ad {
    min-width: 8rem;
}

.loader {
    background-color: #fff;
    border-radius: 1000rem;
    box-shadow: 0 0.375rem 0.5rem -0.375rem rgba(#18274b, 0.2), 0 0.5rem 1rem -0.375rem rgba(#18274b, 0.3);
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.32);
    z-index: #{500 + 1001};
}

.message {
    background-color: #f0f0f0;
    border-radius: 0.75rem;
    white-space: pre-wrap;
    word-break: break-word;
}

.value {
    word-break: break-word;
}

:host ::ng-deep {
    app-lead-type {
        .icon {
            width: 1.25rem !important;
            height: 1.25rem !important;
        }
    }
}
