    <div class="d-flex align-items-center gap-4" *ngIf="product">
        <h1 class="m-0 title me-auto">Detalle del Producto {{product.id}}</h1>
        <!-- <button class="yp-btn-icon" matRipple (click)="exit()" title="Cerrar">
            <mat-icon>close</mat-icon>
        </button> -->
    </div>
    <div *ngIf="product" class="dialog-container">
        <div *ngIf="product" class="d-flex flex-column w-100 gap-2">
            <div class="d-flex align-items-center gap-2">
                <p class="m-0">Datos del Producto</p>
            </div>
            <div *ngIf="product.id" class="d-flex gap-2">
                <div class="label-ad">ID</div>
                <div class="value">{{product.id}}</div>
            </div>
            <div *ngIf="product.title" class="d-flex gap-2">
                <div class="label-ad">Título</div>
                <div class="value">{{product.title}}</div>
            </div>
            <div *ngIf="product.handle" class="d-flex gap-2">
                <div class="label-ad">Handle</div>
                <div class="value">{{product.handle}}</div>
            </div>
            <div *ngIf="product.description" class="d-flex gap-2">
                <div class="label-ad">Descripción</div>
                <div class="value">{{product.description}}</div>
            </div>
             <div *ngIf="product.sku" class="d-flex gap-2">
                <div class="label-ad">sku</div>
                <div class="value">{{product.sku}}</div>
            </div>
            <div *ngIf="product.grams" class="d-flex gap-2">
                <div class="label-ad">Gramos</div>
                <div class="value">{{product.grams}}</div>
            </div>
             <div *ngIf="product.stock" class="d-flex gap-2">
                <div class="label-ad">Inventario</div>
                <div class="value">{{product.stock}}</div>
            </div>
             <div *ngIf="product.price" class="d-flex gap-2">
                <div class="label-ad">Precio</div>
                <div class="value">{{product.price}}</div>
            </div>
            <div *ngIf="product.comparePrice" class="d-flex gap-2">
                <div class="label-ad">Precio a comparar</div>
                <div class="value">{{product.comparePrice}}</div>
            </div>
            <div *ngIf="product.barcode" class="d-flex gap-2">
                <div class="label-ad">Código de Barra</div>
                <div class="value">{{product.barcode}}</div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-end">
        <button class="yp-btn" (click)="exit()">Cerrar</button>
    </div>
