<div class="login">
  <form class="custom-form" method="post">
    <h1>Haciendola login</h1>
    <input
      type="text"
      [(ngModel)]="username"
      name="username"
      placeholder="Username"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <button type="submit" (click)="login()" routerLink="./productDashboard">Log in</button>
  </form>
</div>