<ng-content></ng-content>
<ng-container *ngIf="state !== 0">
    <img *ngIf="state === 1" appIcon name="arrow-up" weight="bold" class="ms-1" />
    <img *ngIf="state === 2" appIcon name="arrow-down" weight="bold" class="ms-1" />
</ng-container>
